section.about.g-galary-ind
	.container
		.about__body
			h2.title-2 Forget about credits and download limits
			p.about__body-text We offer comfortable 3-month unlimited access to our database with no limitations