section.beta.g-galary-ind
	.container
		.beta__body
			h2.beta-title-2 Sign up for beta
			p.beta-text and get access to our randomly changing FREEBIES.
			form(action="").beta__form
				input(type="email" placeholder="your e-mail")
				button.button Submit for beta