section.collection.g-galary-ind
	.container
		.g-galary
			.g-galary__left
				.g-galary__body
					h3.title-3 Bring order<br> in your collection
					p.g-galary__right-ind We spent hundreds of hours to sort our sets by visual similarity
			.g-galary__right
				a(href="img/img-1.png").open-magn
					img.img(src="img/img-1.png", alt="img-1")