section.control.g-galary-ind
	.container
		.g-galary
			.g-galary__left
				.g-galary__body
					h3.title-3 Full control and <br>even more variety
					p.g-galary__right-ind Download RAW files and change the source file on your demand.
			.g-galary__right
				a(href="img/img-3.png").open-magn
					img.img(src="img/img-3.png", alt="img-3")
