// hero
section.swiper-container.hero.hero__slider
	.swiper-wrapper
		.swiper-slide
			img.img--cover(src="img/top-slider__bg.jpg", alt="top-slider__bg")
		.swiper-slide
			img.img--cover(src="img/top-slider__bg.jpg", alt="top-slider__bg")
		.swiper-slide
			img.img--cover(src="img/top-slider__bg.jpg", alt="top-slider__bg")
		.swiper-slide
			img.img--cover(src="img/top-slider__bg.jpg", alt="top-slider__bg")
	.hero__slider-info
		.hero__slider-body
			h1.title-1
				span The new 
				| 313stuff.com
			p lots of new content, new organization to power through your viz projects
			a(href=".beta").button.js-scroll-to-form Sign Up for Beta
	.swiper-pagination






	// /.container

// /.hero