section.others.g-galary-ind
	.swiper-container.others__slider
		.swiper-wrapper
			.swiper-slide
				.others__slider-body
					h2.title-2.text-center What others say
					p "At JetPet, we can now create and measure our landing pages quickly with templates that are stunning and easy to work with. We have nearly doubled our conversion rates."
			.swiper-slide
				.others__slider-body
					h2.title-2.text-center What others say
					p "At JetPet, we can now create and measure our landing pages quickly with templates that are stunning and easy to work with. We have nearly doubled our conversion rates."
			.swiper-slide
				.others__slider-body
					h2.title-2.text-center What others say
					p "At JetPet, we can now create and measure our landing pages quickly with templates that are stunning and easy to work with. We have nearly doubled our conversion rates."
			.swiper-slide
				.others__slider-body
					h2.title-2.text-center What others say
					p "At JetPet, we can now create and measure our landing pages quickly with templates that are stunning and easy to work with. We have nearly doubled our conversion rates."
		.swiper-pagination