section.sets.g-galary-ind
	.container
		.g-galary
			.g-galary__right.g-galary-order-2
				a(href="img/img-2.png").open-magn
					img.img(src="img/img-2.png", alt="img-2")
			.g-galary__left.g-galary-order-1.g-galary-flex-end
				.g-galary__body
					h3.title-3 Compact sets
					p.g-galary__right-ind Our compact sets consisting of 10-50 images are selected manually by visual similarity, lighting and color scheme 
