section.works.g-galary-ind
	.container
		h2.title-2.text-center Gallery of works done with new 313stuff
	.swiper-container.works__slider
		.swiper-wrapper
			.swiper-slide
				a(href="img/gallety__img-2.png").open-magn
					img.img(src="img/gallety__img-2.png", alt="gallety__img-2")
			.swiper-slide
				a(href="img/gallety__img-3.png").open-magn
					img.img(src="img/gallety__img-3.png", alt="gallety__img-3")
			.swiper-slide
				a(href="img/gallety__img-4.png").open-magn
					img.img(src="img/gallety__img-4.png", alt="gallety__img-4")
			.swiper-slide
				a(href="img/gallety__img-4.png").open-magn
					img.img(src="img/gallety__img-1.png", alt="gallety__img-1")