extends layout/main

block variables
	- let title = '313STUFF'



block content
	include sections-index/hero
	include sections-index/collection
	include sections-index/sets
	include sections-index/control
	include sections-index/freeAccess
	include sections-index/works
	include sections-index/others
	include sections-index/about
	include sections-index/beta
	

